.banner-int {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  margin-right: 6em;
  gap: 10em;
}

.banner-img {
  position: relative;
  width: 700px;
  display: flex;
  padding: 2em;
  overflow: hidden !important;
}

.banner-img img {
  width: 700px;
  max-width: 100%;
}

.home-content {
  width: 800px;
  max-width: 100%;
  padding: 0.8em;
}

.home-content h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

.home-content p {
  font-size: 1.1rem;
  text-align: justify;
}
@media (max-width: 550px) {
  .banner-int,
  .home-content {
    display: block;
    width: 100vw;
  }
  .banner-img {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-img img {
    width: 200px;
  }
  .home-content h2 {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
  }
  .home-content p {
    font-size: 10px;
  }
}

@media (max-height: 800px) {
  .banner-int,
  .home-content {
    display: block;
    width: 100vw;
  }

  .banner-img {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-img img {
    max-width: 100%;
    width: 400px;
  }
  .home-content h2 {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  }
  .home-content p {
    font-size: 14px;
  }
}
