.container {
  display: flex;
  flex-direction: column;
  min-height: 66vh;
}

.container-content {
  display: flex;
  margin-top: 70px;
  justify-content: space-around;
  align-items: center;
}

.content-Text {
  width: 800px;
  max-width: 100%;
  text-align: justify;
  font-size: 20px;
}

/*adding responsiveness */

@media (max-width: 1200px) {
  .content-Text {
    max-width: 100%;
    width: 800px;
    padding: 0 25px;
  }

  .image img {
    width: 400px;
    max-width: 100%;
    padding: 0 25px;
  }
  .mainText {
    text-align: justify;
    max-width: 100%;
    width: 800px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  * {
    overflow-y: visible;
  }

  .container-content {
    display: block;
  }
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .mainText {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .container-content {
    display: block;
  }
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image img {
    width: 200px;
    max-width: 100%;
  }

  .mainText {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    margin-top: 50px;
    text-align: justify;

    width: 700px;
    max-width: 100%;
    font-size: 15px;

    margin-bottom: 100px;
  }
}
