* {
  overflow-y: auto;
}

.news {
  width: 1140px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 20px;
  height: 100%;
  /* height: max-content; */
}

.news-content {
  margin: 10px;
  border-bottom: 1.5px solid #929292;
  margin-top: 80px;
  transition-duration: 0.4s;
}

.news-content:hover {
  box-shadow: 3px 5px 3px rgb(0, 0, 0, 0.4);
}

.news-content-title {
  padding: 10px;
  margin: 10px;
}

.news-content h1 {
  color: #202020;
  font-size: 2.2rem;
  text-decoration: underline;
  text-decoration-color: #202020;
}

.news-content-description {
  text-align: justify;
  color: #707070;
  margin: 0 10px;
}

@media (min-width: 300px) and (max-width: 500px) {
  .news-content {
    border-radius: 20px;
  }

  .news-content h1 {
    font-size: 1.5rem;
  }

  .news-content-description h3 {
    font-size: 1rem;
  }
}
/* Loading */
.centerLoad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--bg-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--bg-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
